<!DOCTYPE html>

<html>

{{!-- +--------------------------------------------------------+ --}}
{{!-- | copyright (c) 2020 antoine coulon. all rights reserved | --}}
{{!-- +--------------------------------------------------------+ --}}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{pageName}} | 30c27b</title>
	<meta name="description" content="{{pageDescription}}">
	<meta name="author" content="Antoine '30c27b' Coulon">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{pageName}}" />
	<meta name="twitter:description" content="{{pageDescription}}" />
	<meta name="twitter:image" content="https://blog.30c27b.com/assets/favicon.png" />
	<meta name="twitter:site" content="@30c27b" />

	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="./css/style.css">

	<script src="./js/theme.js"></script>
</head>

<body onload="setTheme(true)">
	<div onclick="switchTheme()" id="change-theme" class="theme-button f-code">(light)</div>

	{{{body}}}

	<footer class="copyright f-code c-secondary">copyright <span class="c-accent">(c)</span> 2020 antoine coulon. all
		rights reserved. <a href="https://github.com/30c27b/blog.30c27b.com">sourcecode</a></footer>
</body>

</html>