<div class="main">

	<div class="header">
		<span class="title f-title c-secondary"><a href="/" class="h-link">
				30<span class="exp c-accent">c</span>27<span class="exp c-accent">blog</span>
			</a></span>
	</div>

	<div class="page">

		{{#if msg}}
		<span class="f-text c-accent">*{{msg}}*</span>
		{{/if}}

		<span class="subtitle f-code c-secondary">latest posts</span>

		{{#each posts}}
		<div class="post-card">
			<span class="post-title f-text c-secondary"><a href="{{this.link}}">{{this.title}}</a></span>
			<span class="f-text c-secondary">in <span class="c-accent">{{this.language}}</span> ; posted on <span
					class="c-accent">{{this.date}}</span> ; <span class="c-accent">{{this.views}}</span> views</span>
		</div>
		{{/each}}

	</div>

</div>
