<div class="main">

	<div class="title-box">

		<h1><a href="/" style="text-decoration: none;"><span class="shad-ef">30c27b's blog</span></a></h1>
		<h3 class="dump" id="dumpLine">0000000 6d 51 49 4e 42 46 34 6f 67 32 6f 42 45 41 43 66</h3>

	</div>

	<div class="main-box">

		{{#if msg}}
		<h3>*{{msg}}*</h3>
		<br />
		{{/if}}

		<div class="posts">

			{{#each posts}}
			<h2><a href="{{this.link}}">{{this.title}}</a><span class="lang-tag"
					style="background-color: {{this.langColor}};">{{this.language}}</span></h2>
			<h3>posted the {{this.date}} ; written by <a href="https://30c27b.com/">antoine '30c27b' coulon</a> ;
				{{this.views}} views</h3>
			<br />
			{{/each}}

		</div>

		<h2>> <a href="https://30c27b.com/">homepage</a></h2>

	</div>

</div>