<div class="main">

	<div class="header">
		<span class="title f-title c-secondary"><a href="/" class="h-link">
				30<span class="exp c-accent">c</span>27<span class="exp c-accent">blog</span>
			</a></span>
	</div>

	<div class="page">

		{{#if msg}}
		<span class="f-text c-accent">*{{msg}}*</span>
		{{/if}}

		<span class="post-meta-title f-code c-secondary">{{post.title}}</span>

		<div class="post-meta">
			<span class="meta-info f-code c-secondary">from <span class="c-accent">antoine '30c27b' coulon</span></span>
			<span class="meta-info f-code c-secondary">posted <span class="c-accent">{{post.date}}</span></span>
			<span class="meta-info f-code c-secondary">in <span class="c-accent">{{post.language}}</span></span>
			<span class="meta-info f-code c-secondary"><span class="c-accent">{{post.views}}</span> views</span>

		</div>

		<div class="content">

			{{{post.content}}}

		</div>

		<span class="f-code c-secondary"><a href="/">back to index</a></span>

	</div>

</div>